<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Form Score</title>
</head>
<body>
    <h1>Form Score: {{ form.title }}</h1>
    <form method="post">
        {% csrf_token %}
        {% for section in sections %}
            <h2>{{ section.title }}</h2>
            {% for subsection in subsections|slice:":section.id" %}
                <h3>{{ subsection.title }}</h3>
                {% for question in questions|slice:":subsection.id" %}
                    <p>{{ question.text }}</p>
                    <input type="number" min="0" max="5" name="{{ question.id }}" required>
                {% endfor %}
            {% endfor %}
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</body>
</html>
