<!DOCTYPE html>
<html>
<head>
    <title>{{ form.title }}</title>
</head>
<body>
    <h1>{{ form.title }}</h1>
    <p>{{ form.description }}</p>
    {% for section in sections %}
    <div>
        <h2>{{ section.title }}</h2>
        <p>{{ section.description }}</p>
        {% for subsection in section.subsection_set.all %}
            <h3>{{ subsection.title }}</h3>
            <p>{{ subsection.description }}</p>
            {% for question in subsection.question_set.all %}
                <p>{{ question.text }}</p>
            {% endfor %}
        {% endfor %}
    </div>
    {% endfor %}
    <h2>Assigned Employees:</h2>
    <ul>
    {% for employee in form.assigned_employees.all %}
        <li>{{ employee.user.username }}</li>
    {% endfor %}
    </ul>
</body>
</html>
