{% load static %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div>
            <label for="form_name">Form Name:</label>
            <input id="form_name" type="text" name="form_name" value="{{ form.title }}">
        </div>

        <div id="sections">
            {% for section in sections %}
                <div class="section">
                    <label for="section_{{ section.id }}">Section Title:</label>
                    <input id="section_{{ section.id }}" type="text" name="section_{{ section.id }}" value="{{ section.title }}">
                    
                    <label for="section_weight_{{ section.id }}">Weight (%)</label>
                    <input id="section_weight_{{ section.id }}" type="number" step="0.01" min="0" max="100" name="section_weight_{{ section.id }}" value="{{ section.weight }}">
                    
                    <div class="subsections">
                        {% for subsection in section.subsection_set.all %}
                            <div class="subsection">
                                <label for="subsection_{{ subsection.id }}">Subsection Title:</label>
                                <input id="subsection_{{ subsection.id }}" type="text" name="subsection_{{ subsection.id }}" value="{{ subsection.title }}">

                                <label for="subsection_weight_{{ subsection.id }}">Weight (%)</label>
                                <input id="subsection_weight_{{ subsection.id }}" type="number" step="0.01" min="0" max="100" name="subsection_weight_{{ subsection.id }}" value="{{ subsection.weight }}">
                                
                                <div class="questions">
                                    {% for question in subsection.question_set.all %}
                                        <div class="question">
                                            <label for="question_{{ question.id }}">Question:</label>
                                            <input id="question_{{ question.id }}" type="text" name="question_{{ question.id }}" value="{{ question.text }}">

                                            <label for="question_weight_{{ question.id }}">Weight (%)</label>
                                            <input id="question_weight_{{ question.id }}" type="number" step="0.01" min="0" max="100" name="question_weight_{{ question.id }}" value="{{ question.weight }}">
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <button type="submit">Save changes</button>
        <a href="{% url 'admin_dashboard' %}" role="button" class="btn btn-dashboard">Dashboard</a>
    </form>
{% endblock %}
{% block javascript %}
    <script src="{% static 'formapp/form_edit.js' %}"></script>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'formapp/form_edit.css' %}">
{% endblock %}
