{% load static %}
{% block content %}
    <form method="POST" id="completion-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="form_name">{{ assignment.form.title }}</label>
        </div>

        <table id="sections" class="table table-striped">
            {% for section in sections %}
                <tr class="section">
                    <td colspan="2">{{ section.title }}</td>
                </tr>
                {% for subsection in section.subsection_set.all %}
                    <tr class="subsection">
                        <td style="padding-left: 30px;">{{ subsection.title }}</td>
                        <td></td>
                    </tr>
                    {% for question in subsection.question_set.all %}
                        <tr class="question">
                            <td style="padding-left: 60px;">{{ question.text }}</td>
                            <td>
                                <input type="number" id="question-{{ question.id }}" name="question-{{ question.id }}" min="0" max="5" required class="form-control">
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </table>

        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'employee_dashboard' %}" role="button" class="btn btn-dashboard btn-secondary">Dashboard</a>
    </form>
{% endblock %}
{% block javascript %}
    <script>
        document.getElementById('completion-form').addEventListener('submit', function(event) {
            event.preventDefault();

            var formData = {};
            {% for section in sections %}
                {% for subsection in section.subsection_set.all %}
                    {% for question in subsection.question_set.all %}
                        formData["{{ question.id }}"] = document.getElementById('question-{{ question.id }}').value;
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            console.log(formData);
            var jsonData = JSON.stringify(formData);

            fetch("{% url 'form_completion' assignment.id %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                },
                body: jsonData
            }).then(function(response) {
                if(response.ok) {
                    window.location.href = response.url;
                } else {
                    alert("Error: " + response.statusText);
                }
            });
        });
    </script>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'formapp/form_completion.css' %}">
{% endblock %}
